version: "3.8"

services:
  client:
    build: ./frontend
    ports:
      - "4200:80"
    environment:
      # this is an example of how to pass in environment variables
      - API_URL=http://localhost:5000
    depends_on:
      - server

  server:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
