version: "3.8"

services:
  client:
    build: ./frontend
    ports:
      - "4200:80"
    env_file:
      - .env
    depends_on:
      - server

  server:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
