:host {
  display: block;
  background: #003566;
  color: #ffd600;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
  text-align: left;
}

.loop-carousel {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  white-space: nowrap;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loop-carousel::-webkit-scrollbar {
  display: none;
}

.loop-track {
  display: inline-flex;
  gap: 16px;
  align-items: stretch;
}

.loop-card {
  flex: 0 0 80vw;
  max-width: 320px;
  scroll-snap-align: start;

  background: #003566;
  border-radius: 6px;
  padding: 12px;
  box-sizing: border-box;
  color: #ffd600;
}

.product-name {
  text-align: center;
  color: #ffd600;
  font-size: 18px;
  margin-bottom: 8px;
}

.loop-card .image-placeholder {
  width: 100%;
  height: 240px;
  background: #d9d9d9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

@media (min-width: 769px) {
  .loop-card {
    flex: 0 0 300px;
    max-width: 300px;
  }

  .title {
    text-align: left;
    margin-left: 12px;
  }
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 270px;
  margin-top: auto;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  cursor: pointer;
}

.bottom-title {
  font-size: 32px;
  margin-bottom: 12px;
}

.bottom-image {
  flex: 1;
  background-color: #d9d9d9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-card {
  background: #ffd600;
  color: #000;
}

.products-card {
  background: #002246;
}

.companies-card {
  background: #000;
  color: #ffd600;
}

@media (max-width: 768px) {
  .content {
    padding-top: 100px;
    height: calc(100% - 100px);
    box-sizing: border-box;
  }

  .bottom-grid {
    grid-template-columns: 1fr;
    height: auto;
    row-gap: 16px;
    margin-top: 100px;
  }

  .bottom-card {
    padding: 10px 16px;
  }

  .bottom-title {
    font-size: 20px;
  }

  .title {
    font-size: 26px;
    text-align: center;
    margin: 16px 0 12px;
  }
  .loop-track {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .loop-card {
    flex: 0 0 80vw;
    max-width: 80vw;
    scroll-snap-align: center;
  }
}
