<nav class="navbar">
  <div class="nav-container">
    <div class="nav-left">
      <a routerLink="/" class="nav-item logo">
        <img src="assets/LoopBackIcon.png" alt="LoopBack logo" class="logo-icon" />
      </a>

      <a routerLink="/products" class="nav-item">Products</a>
      <a routerLink="/companies" class="nav-item">Companies</a>
      <!-- need to implement logic to hide this item when user is not corporate -->
      <a routerLink="/company-dashboard" class="nav-item">My Company</a>
    </div>

    <button class="profile-btn" type="button" routerLink="/account">
      <i class="fa-regular fa-user profile-icon"></i>
    </button>
  </div>
</nav>